/* resources.scss */

// Colors
$white: #fff;
$black: #011627;
$orange: #f26627;
$lightOrange: #f9a26c;
$gray: #efeeee;
$lightBlue: #9bd7d1;
$blue: #325d79;

.orange-background {
    background: $orange;
}